mat-card{
  max-width:  80%;
  margin: 2em auto;
  text-align: center;
}

mat-card-actions {
  text-align: center;
  justify-content: center;
}

.full-width{
  width: 100%;
}



.min-width{
  width: 100%;
  min-width: 150px;
}