<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">
      Cursos disponíveis
    </mat-toolbar>
<table mat-table [dataSource]="courses" class="mat-elevation-z8">



  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Curso </th>
    <td mat-cell *matCellDef="let course"> {{course.name}} </td>
  </ng-container>

  <!-- CategoryColumn -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let course"> {{course.category}} </td>
  </ng-container>




  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-card-content>
</mat-card>


